[submodule "website"]
	path = website
	url = https://github.com/drumrollhq/eak-web.git
[submodule "game"]
	path = game
	url = https://github.com/drumrollhq/E.A.K.
[submodule "server"]
	path = server
	url = https://github.com/SomeHats/eak-server-old.git
